
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  font-size: 1em;
  position: relative;
  cursor: default;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  border: 0;
  color: #fff;
  background:linear-gradient(to right bottom, #536DFE, #141B61);
}

h1 {
  font-family: "Pacifico", script;
  text-shadow: 3px 3px #1A237E;
  color: #FFf;
  font-size: 3.5em;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
  text-align: center;
  }

h2 {
  font-family: "Pacifico", script;
  color: #FFf;
  font-size: 3.5em;
  margin-top: 1.4em;
  margin-bottom: 0.6em;
  text-align: center;
  }

h3 {
  font-family: "Pacifico", script;
  color: #1A237E;
  font-size: 1.6em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

h4 {
  font-size: 1.6em;
  display: block;
  text-align: center;
}

h5 {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
  margin-bottom: .6em;
}

a {
    text-decoration: none;
  }

p {
  line-height: 1.6;
  font-size: 1.0em;
}

footer {
  font-family: "Pacifico", script;
  color: #fff;
  font-size: 1.6em;
  margin-top: 0.6em;
  margin-bottom: 2em;
  text-align: center; 
}

footer a {
  color: #FFf;
}

a:hover {
  color: #FFD600;
}

/* Nav section */

.nav {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 64em;
}

.navName {
  font-family: "Pacifico", script;
  font-size: 36px;
  color: #fff;
  width:50%;
}

.rightNav {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

.navItem {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  margin-right: 2em;
}

.navText {
  color: #fff;
}

/* Main */

.row {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0em auto;
  padding: 0 2em;
  max-width: 64em;
}

.row.hero {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.rowItem {
  flex: 1;
  text-align: center;
  margin: 4em auto;  
}

.white {
  background-color: #FFF8E7;
  border-top: solid 10px rgba(0,0,0,0.2);
  color: #1A237E;
}

.white h2 {
  color: #1A237E;
}

.blue {
  background-color: #536DFE;
  text-shadow:none;
  border-top: solid 10px rgba(0,0,0,0.2);
}

.left {
  text-align: left;
}

.fishies {
  transform: translateX(-12em);
}

.bigFish {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: floating;
  -moz-animation-duration: 6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  
}

@-webkit-keyframes floating{
    from {-webkit-transform:translate3d(0px, 0px, 0px);}
    40% {-webkit-transform:translate3d(8px, -15px, 0px);}
    to {-webkit-transform: translate3d(-0px, -0px, 0px);}    
}
    
@-moz-keyframes floating{
    from {-moz-transform:translate3d(0px, 0px, 0px);}
    65% {-moz-transform:translate3d(8px, 15px, 0px);}
    to {-moz-transform: translate3d(-0px, -0px, 0px);}    
}

/* who needs it*/

.column {
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;      
  display: -webkit-flex;     
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0em auto;
  max-width: 64em;
}

.wider {
  flex-grow: 2; 
}

.roundBackground {
  border-radius: 50%;
  width: 16em;
  height: 16em;
  margin: 0 auto;
  background: #536DFE;
  border: solid 6px #141B61;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
}

/*happy customers*/

.round {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: solid 6px #141B61;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.2);
}

.round img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  }

.alignTop {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.alignTop .column {
  margin: 4em 2em;
  text-align: center;
}

#get a {
    color: blue;
  }

#get a:hover {
    color: #FFD600;
  }

@media (max-width: 770px) {

h1 {
  font-size: 2.5em;
  margin-top: -2.5em;
}

h2 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.2em;
}
  
.nav {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.leftNav {
  margin-left:2em;
}

.rightNav {
  margin-top: 2em;
}

.navItem {
  margin: 0em 1em;
}

.row {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.rowItem {
  margin: 2em auto;  
}

.bigFish {
  margin-top: 0em;
}

.fishies {
  margin-top: -10em;
}

.flip {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
  
}






